body {
    background-color: #000000;
    font-family: "Arial", Verdana;
    color: #FFFFFF;
    margin: 20px 20px 0px 20px!important; 
  }

  h1 {
    padding: 15px!important;
    font-size: 42px!important;
    text-align: center!important;
  }

  h2{
    color:#0D0D0D!important;
    font-size: 30px!important;
  }

  img{
    display: block!important;
    width: 250px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    border-style: dashed!important;
    border-width: 10px!important;
  }

  p {
    font-size: 24px!important;
    padding-left: 10px!important;
    padding-top: 10px!important;
  }

  div{
    height:auto!important;
    min-height:125px!important;
    padding: 20px!important;
    border-style: solid!important;
    border-width: 3px!important;
  }

  .introduction{
    border-radius: 15px!important;
    margin-top: 15px!important;
    line-height: 2 !important;
  }

  .red{
    background: #ff0000!important;
    margin-left: 50px!important;
    text-align: right!important;
    border-bottom: 2px solid!important;
    border-left: 5px solid!important;
  }

  .blue{
    background: #0000FF!important;
    text-align: left!important;
    margin-right: 50px!important;
    border-right: 5px solid!important;
    border-top: 2px solid!important;
    color: #C4C4C4!important;
  }

  .blue h2 {
    color: #C4C4C4;
 }
 

  .yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    color: #707070;
  }

  .green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
  }

  footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border: 5px solid #FFFFFF;
  }
  
  footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
  }
